html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;;
    
}

/*header*/
.logo-bar{
    width: 70%;
    height: 70px;
    background-color: aquamarine;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: 0,10px,15px,rgba(0, 255, 242, 0.5);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    

}

.logo h1{
    padding-left: 10px;
    font-weight: 900;
}

.subtext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    top: 5rem;
    font-weight: 400;
    letter-spacing: 5px;
}


.logo img{
    width: 20px;
    height: 20px;
}

/*add task*/

.addtask{
    width: 100%;
    height: 70px;
    
    align-content: center;
    
    
}

.task-add{
    display: flex;
    justify-content: center;

}

.task-add input{
    background-color: rgb(87, 87, 87);
    border-radius: 50px;
    border: none;
    width: 300px;
    height: 30px;
    color: white;
    text-indent: 10px;
    font-weight: 600;
}

.thold:focus{
    outline: none;
    transition-behavior:smooth ;
    transition-duration: 0.5s;
    box-shadow: 10px 10px 900px 20px aqua;
}

.add-btn{
    width: 70px;
    height: 30px;
    border-radius: 80px;
    background-color: aquamarine;
    font-weight: 800;
    border: none;
    
}


.add-btn:hover{
    width: 100px;
    transition-duration: .5s;
    transition-behavior: smooth;

    background-color: white;
}









/*list of task*/


.listoftask{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    border:none;
}


ul li{
    list-style: none;
}

.cb{
    appearance: none;
}

.check-icon{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: azure;
    display: block;
    margin: auto;
    border-radius: 50%;
    
    
}

.task-1{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    

    
}

.todo-text,.delete-btn{
    margin-left: 10px;
}


.delete-btn{
    background-color: transparent;
}

