html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;;
    
}

/*header*/
.logo-bar{
    width: 70%;
    height: 70px;
    background-color: aquamarine;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: 0,10px,15px,rgba(0, 255, 242, 0.5);
    margin-bottom: 30px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    

}

.logo h1{
    padding-left: 10px;
    font-weight: 900;
}

.subtext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    top: 5rem;
    font-weight: 400;
    letter-spacing: 5px;
}


.logo img{
    width: 20px;
    height: 20px;
}

/*add task*/

.addtask{
    width: 100%;
    height: 70px;
    
    align-content: center;
    
    
}

.task-add{
    display: flex;
    justify-content: center;

}

.task-add input{
    background-color: rgb(87, 87, 87);
    border-radius: 50px;
    border: none;
    width: 300px;
    height: 50px;
    color: white;
    text-indent: 10px;
    font-weight: 600;
}

.thold:focus{
    outline: none;
    transition-behavior:smooth ;
    transition-duration: 0.5s;
    box-shadow: 10px 10px 900px 20px aqua;
}

.task-add input:focus{
    transition-duration: .5s;
    transition-behavior: ease;
    width: 350px;
    border: white;
}



.add-btn{
    width: 70px;
    height: 50px;
    border-radius: 80px;
    background-color: aquamarine;
    font-weight: 800;
    border: none;
    
}


.add-btn:hover{
    width: 100px;
    transition-duration: .5s;
    transition-behavior: smooth;

    background-color: white;
}









/*list of task*/

.listoftask{
    width: 100%;
    height: fit-content;
    padding-left: 50px;
    
    
    
}

.task-1{
    width: 80%;
    height: 60px;
    
    
    background-color: rgb(73, 73, 73);
    margin-left: auto;
    border-radius: 30px;
    margin-top: 20px;
    
    
}


ul li{
    list-style: none;
}

.cb{
   display: none; 
}

.check-icon{
    position: relative;
    width: 25px;
    height: 25px;
    
    border-color: aqua;
    border: 1px solid aqua;
    
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
    
    
}


.task-1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    

    
}

.todo-text{
    
    color: white;
    
    font-weight: 600;
}


.delete-btn{
    background-color: transparent;
    fill: darkgrey;
    border: none;
    margin-left: 20px;
    
}

.delete-btn svg:hover{
    
    transition: 300ms ease;
    fill: rgb(255, 56, 56);
}


.cb:checked ~ .check-icon{
    transition: 400ms ease;
    background-color: aqua;
    
    fill: black;
}

.cb:checked ~ .check-icon svg{
    
    
    fill: black;
}




.cb:checked ~ .todo-text{
    text-decoration: line-through;
    transition-duration: 0.5s;
    transition-behavior: smooth;
    color: rgb(122, 122, 122);
}

.cb:checked ~ .task-1{
    background-color: rgb(173, 72, 72);
}



